// colors
$Primary: #01579b;
$Primary-Light: #4f83cc;
$Primary-Dark: #002f6c;
$Secondary:#b20010;
$Secondary-Light:#ec4939;
$Secondary-Dark:#7b0000;
$background: rgb(232, 243, 253);
$Missing: rgba(131, 131, 131, 0.5);

//media
$movil : 480px;
$tablet: 768px;
$desktop: 1280px;

$p-m: 1rem;
$p-s: .9rem;
$p-xs: .8rem;